{
    "presets": [
        "es2015",
        "stage-2",
        [
            "env",
            {
                "targets": {
                    "node": "8.10"
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ],
}